@font-face {
    font-family: "SF Pixelate";
    src: url('./SFPixelate/SFPixelate.ttf') format("truetype");
    font-weight: 100;
    font-style: normal;
}


.sfpixelate{
    font-family: "SF Pixelate";
}

body{
    background-image: url("./wallpapers/vertigo.jpg");
    background-size: cover;
}

.topBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;

    padding-left: 16px;
    padding-right: 16px;

    color: black;
    background-color: hsla(326, 74%, 63%, 0.9);
}

.topBarButtonsDiv{
    /*
    max-width: 180px; */ /* Each button is 86x15, 86 * 2 = 172, so round up to 180px */
    height: fit-content;
}

#topBarTime{
    white-space: nowrap;
    width: max-content;
    display: block;
}

.window{
    width: 500px;
    padding: 16px;
    
    border: solid;
    border-radius: 10px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    --tx: -50%;
    --ty: -50%;
    transform: translate(var(--tx), var(--ty));

    background-color: hsla(331, 63%, 77%, 0.9);
}

.header{
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    cursor: move;
}

.headerTitle{
    position: absolute;
    left: 0px;
    margin-right: 16px;
    padding: 10px;
}

.closeWindow{
    position: absolute;
    right: 0px;
    margin-right: 16px;
    padding: 5px;

    aspect-ratio: 1 / 1;
    text-align: center;
    border-radius: 10px;

    background-color: rgb(156, 10, 81);

    cursor: pointer;
}


.appsContainer{
    padding-top: 64px;
}

.app{
    text-align: center;
    padding: 10px;
    width: fit-content;

    position: absolute;
}

.app > img{
    width: 64px;
    height: 64px;
    border-radius: 10px;
}
.app > p{
    margin: 0px;
}

.selectedApp{
    background-color: hsla(218, 100%, 69%, 0.5);
}

.netNeighborDiv{
    display: flex;
    align-items: center;
}
.netNeighborDiv > a{
    margin-right: 10px;
}


.noSelectText{
    user-select: none;
    -moz-user-select: none;
}

.hidden{
    display: none;
}

.overflowScroll{
    overflow-y: scroll;
}